<!DOCTYPE html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Institucion</title>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
	<script src="js/modernizr.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/main.js"></script>
</head>
<body>
	<!--======================================== Boton ir arriba ========================================-->
	<i class="btn-up fa fa-arrow-circle-o-up hidden-xs"></i>
	<!--======================================== Navegación ========================================-->
	<header class="full-reset header">
		<!--======================================== Logo(Nombre INS) ========================================-->
		<div class="full-reset logo">
			<span class="hidden-lg hidden-md">Tele</span>
			<span class="hidden-xs hidden-sm">Telebachillerato Michoacán</span>
		</div>
		<!--======================================== Links de navegación ========================================-->
		<nav class="full-reset navigation">
			<ul class="full-reset list-unstyled">
				<li> @Html.ActionLink("Inicio", "Index", "Home", new { @class = "nav-link" }) <a href="index.html"></a></li>
				<li>@Html.ActionLink("Instictucion", "institucion", "Home", new { @class = "nav-link" }) <a href="institucion.html"></a></li>
				<li>@Html.ActionLink("Secretaria", "secretaria", "Home", new { @class = "nav-link" }) <a href="secretaria.html"></a></li>
				<li>@Html.ActionLink("Bachilleratos", "bachilleratos", "Home", new { @class = "nav-link" }) <a href="bachilleratos.html"></a></li>
				<li>@Html.ActionLink("Galeria", "galeria", "Home", new { @class = "nav-link" }) <a href="galeria.html"></a></li>
				<li>@Html.ActionLink("Login", "Login", "Home", new { @class = "nav-link" }) <a href="galeria.html"></a></li>
				<li><a href="#" class="btm-mega-menu">Más &nbsp;<i class="fa fa-caret-down"></i></a></li>
			</ul>
		</nav>
		<!--======================================== Mega menu ========================================-->
		<div class="full-reset mega-menu">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<span class="full-reset titles">Recursos educativos</span>
						<ul class="list-unstyled full-reset">
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-search"></i>&nbsp; Buscar en GOOGLE</a></li>
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-graduation-cap"></i>&nbsp; Plataforma (MOODLE)</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4">
						<span class="full-reset titles">Enlaces importantes</span>
						<ul class="list-unstyled full-reset">
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-university"></i>&nbsp; MINED</a></li>
							<li><a href="#!"><i class="fa fa-paw"></i>&nbsp; ARA-MACAO</a></li>
							<li><a href="#!"><i class="fa fa-globe"></i>&nbsp; JOVENES A.T.T</a></li>
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-flask"></i>&nbsp; UNIVERSIDADES</a></li>
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-gavel"></i>&nbsp; GOBIERNO</a></li>
						</ul>
					</div>
					<div class="col-xs-12 col-sm-4">
						<span class="full-reset titles">Archivos</span>
						<ul class="list-unstyled full-reset">
							<li><a href="#!"><i class="fa fa-star-o"></i>&nbsp; Promociones INS</a></li>
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-file-text-o"></i>&nbsp; Const. de conducta</a></li>
							<li><a href="#!"><i class="fa fa-download"></i>&nbsp; Descargas</a></li>
						</ul>
					</div>
				</div>
			</div>
			<i class="fa fa-times-circle btm-mega-menu close-mega-menu fa-2x"></i>
		</div>
		<!--======================================== Boton menu mobil ========================================-->
		<a href="#" class=" hidden-sm hidden-md hidden-lg pull-right button-menu-mobile show-close-menu-m"><i class="fa fa-ellipsis-v"></i></a>
	</header>
	<!--======================================== Contenido de la pagina ========================================-->
	<section class="full-reset" style="background-color: #fff; padding: 20px 0;">
		<div class="container">
			<div class="row">
				<section class="col-xs-12 col-sm-8 col-md-9 info-section-ins">
					<!--======================================== Mision y vision ========================================-->
					<article class="full-reset" id="mision-vision">
						<div class="page-header" style="margin-bottom:40px;">
							<h1><i class="fa fa-graduation-cap"></i> &nbsp; Misión y Vision</h1>
						</div>
						<br><br>
						<div class="panel panel-primary">
							<div class="panel-heading lead text-center titles">Misión</div>
							<div class="panel-body">
								<p class="lead text-justify">
									Somos una opción de educación en el nivel bachillerato para los jóvenes que viven en poblaciones de marginación, donde brindamos aprendizaje autogestivo, a fin de formar y orientar a la juventud en la conciencia crítica para lograr comprometerlos en el desarrollo de su comunidad.
								</p>
							</div>
						</div>
						<br><br>
						<div class="panel panel-primary">
							<div class="panel-heading lead text-center titles">Visión</div>
							<div class="panel-body">
								<p class="lead text-justify">
									Somos una Institución educativa de nivel medio superior; siendo un Organismo Público Descentralizado con personalidad jurídica y patrimonio propios, sectorizado a la Secretaria de Educación.
								</p>
							</div>
						</div>
					</article>
					<!--======================================== Reseña historica ========================================-->
					<article class="full-reset" id="resena-ins">
						<div class="page-header" style="margin-bottom:50px;">
							<h1><i class="fa fa-university"></i> &nbsp; Reseña histórica</h1>
						</div>
						<h3 class="text-center titles text-uppercase">Antesedentes</h3>
						<p class="lead text-justify">
							El Tele bachillerato Michoacán surgió como una estrategia para alcanzar la universalidad, gratuidad y cobertura educativa en el estado.
							Inició actividades en septiembre de 2010, dependiendo de la SEE. El 27 de abril de 2011 se publicó Decreto Creación de Tele bachillerato Michoacán. Actualmente cuenta con 182 planteles distribuidos en 81 municipios, así como una matrícula escolar de 10,000 estudiantes.
							El Tele bachillerato tiene como objeto impartir servicios educativos de calidad en el nivel medio superior en comunidades de alta y muy alta marginación. Promueve y propicia en cada centro educativo la inclusión y el arraigo a la comunidad como vía para reducir la migración y los índices delictivos.

						</p>
						<br><br>
						<h3 class="text-center titles text-uppercase">Valores</h3>
						<p class="lead text-justify">

							• El respeto
						</p>
						<p class="lead text-justify">• La Responsabilidad</p>
						<p class="lead text-justify">• La identidad Nacional y Cultural</p>
						<p class="lead text-justify">• La Libertad</p>
						<p class="lead text-justify">• La Tolerancia</p>
						<p class="lead text-justify">• La Solidaridad</p>
						<p class="lead text-justify">• La Honestidad</p>






					</article>
					<!--======================================== Ubicacion geografica ========================================-->
					@*<article class="full-reset" id="ubicacion-ins">
			<div class="page-header">
				<h1><i class="fa fa-map"></i> &nbsp; Ubicación geográfica</h1>
			</div>
			<p class="lead text-justify">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur inventore perferendis nesciunt est atque magnam quisquam dolore, voluptatibus molestias neque reprehenderit cupiditate sed numquam consectetur harum velit, dolorem! Totam, praesentium.
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non porro distinctio ipsum rerum repellendus pariatur, consectetur laborum minima quam accusamus hic aliquid ratione reiciendis illum repudiandae quibusdam aliquam nesciunt adipisci.
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa nam voluptas quidem dolore, illo, accusantium reiciendis necessitatibus ut possimus repudiandae corporis distinctio. Aliquam ab nemo, rem perferendis possimus nostrum repellat!
				<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod suscipit possimus dicta voluptates in molestias tempora dolorum, doloribus ullam veritatis est fugiat aliquid quae beatae, quo eos id sunt odio.
			</p>
			<br><br>
			<h3 class="text-center titles"><i class="fa fa-map-marker"></i> &nbsp; Mapa de localización</h3>
			<br>
			<div id="mapa-ins"></div>
		</article>*@
				</section>
				<!--======================================== Navegacion fija lateral derecha ========================================-->
				<nav class="hidden-xs scroll-navigation-ins">
					<figure class="full-reset">
						<img src="@Url.Content("~/Content/img/TelebachilleratoMichoacán.jpg")" alt="Logo" class="img-responsive center-box">
					</figure>
					<h4 class="text-center titles">Información de la institución</h4>
					<ul class="list-unstyled full-reset">
						<li data-href="#mision-vision">Misión y Visión</li>
						<li data-href="#resena-ins">Reseña Histórica</li>
						<li data-href="#ubicacion-ins">Ubicación Geofráfica</li>
					</ul>
				</nav>
			</div>
		</div>
	</section>
	<!--======================================== Pie de pagina ========================================-->
	<footer class="full-reset footer">
		<div class="full-reset" style="padding: 15px 0;">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-4">
						<h4 class="titles text-center">Visitenos en</h4>
						<p class="text-center">Río Amatlán #187 Col. Cuauhtémoc Morelia, CP. 58020</div>
					<div class="col-xs-12 col-sm-4">
						<h4 class="titles text-center">Contactenos</h4>
						<p class="text-center">01 443 312 4909 <br>Correo Electrónico: contacto.tebam@gmail.com</p>
					</div>
					<div class="col-xs-12 col-sm-4">
						<h4 class="titles subtitles-footer">Siguenos en</h4>
						<ul class="list-unstyled links-footer">
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-facebook"></i> &nbsp; Facebook</a></li>
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-twitter"></i> &nbsp; Twitter</a></li>
							<li><a href="#!" class="open-link-newTab"><i class="fa fa-google-plus"></i> &nbsp; Google+</a></li>
						</ul>
					</div>
					<div class="col-xs-12">
						<div class="full-reset footer-copyright"><i class="fa fa-copyright"></i> 2019-2020</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!--======================================== API de GOOGLE Maps ========================================-->
	
</body>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>